<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="pc_gamer" connectionString="metadata=res://*/pcgamerModel.csdl|res://*/pcgamerModel.ssdl|res://*/pcgamerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUANPINETBOOK20\SQLEXPRESS;initial catalog=pc_gamer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="pcgamer" connectionString="metadata=res://*/Modelo-pcgamer.csdl|res://*/Modelo-pcgamer.ssdl|res://*/Modelo-pcgamer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUANPINETBOOK20\SQLEXPRESS;initial catalog=pc_gamer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="pcgamerEntities" connectionString="metadata=res://*/ModeloPcgamer.csdl|res://*/ModeloPcgamer.ssdl|res://*/ModeloPcgamer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUANPINETBOOK20\SQLEXPRESS;initial catalog=pc_gamer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="pcgamer.My.MySettings.pc_gamerConnectionString" connectionString="Data Source=JUANPINETBOOK20\SQLEXPRESS;Initial Catalog=pc_gamer;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>